<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
	
	 <div class="col-md-12">
	  <h1>{{title}}</h1>
	   <div class="col-md-6">
	    <div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title"> {{subtitle}} </h3>
		  
		  </div>
		  
		   <div class="panel-body">
		    
			 <table class="table table-striped">
			  <thead>
			    <tr>
				  <th>ID </th>
				  <th>NAME</th>
				  
				</tr>
				
				
				
				
			  </thead>
			    <tr *ngFor="let dl of dl">
				  <td>{{dl.id}} </td>
				  <td>{{dl.name}} </td>
				 
				  <td><button (click)="selectlist(dl)" class="btn btn-primary"> Add TO Cart </button> </td>
					
				</tr>
			  
			  <tbody>
			  
			  </tbody>
			  
			 </table>
		   
		   </div>
		
		</div>
	   </div>
	   
	   <div class="col-md-6">
	    <div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"> {{selectedlist}} </h3>
		  
		  </div>
		  
		   <div class="panel-body">
		    
			 <table class="table table-striped">
			  <thead>
			    <tr>
				  <th>ID </th>
				  <th>NAME</th>
				  
				</tr>
				
				
				
				
			  </thead>
			    <tr *ngFor="let dl of selectedItems">
				  <td>{{dl.id}} </td>
				  <td>{{dl.name}} </td>
			
				  <td><button (click)="removelist(dl)" class="btn btn-danger"> Remove </button> </td>
					
				</tr>
			  
			  <tbody>
			  
			  </tbody>
			  
			 </table>
		   
		   </div>
		
		</div>
	   </div>
	 </div>
	
	</div>
</div>

